
# APLICACIÓN

APP_NAME="Inventario de Equipos"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_TIMEZONE=America/Bogota

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12


# LOGS

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info


# BASE DE DATOS

DB_CONNECTION=mysql
# NOTA PARA ZIMAOS/CASAOS: 
# Si usas docker-compose.prod.yml (network_mode: bridge), 
# el host debe ser 'host.docker.internal' y el puerto debe ser 'DB_EXTERNAL_PORT' (ej. 3307)
DB_HOST=host.docker.internal
DB_PORT=3307

DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_ROOT_PASSWORD=


# ADMINISTRADOR PRINCIPAL
# Solo se utiliza durante la primera instalación.
# Después del primer cambio de contraseña
# estos valores ya no son utilizados.


SYSTEM_ADMIN_NAME=
SYSTEM_ADMIN_EMAIL=
SYSTEM_ADMIN_PASSWORD=
SYSTEM_FORCE_PASSWORD_CHANGE=true


# SESIONES

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null


# CACHE / COLAS

CACHE_STORE=file
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local
BROADCAST_CONNECTION=log


# REDIS

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


# CORREO

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"


# AWS

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


# VITE

VITE_APP_NAME="${APP_NAME}"


# BACKUPS

BACKUP_PASSWORD=
KOPIA_PASSWORD=


# CLOUDFLARE R2

CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ENDPOINT=


# GOOGLE

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=


# DOCKER

DOCKER_IMAGE=inventario_equipos:v1.0.0
DOCKER_NGINX_IMAGE=inventario-nginx:v1.0.0
APP_PORT=3300
DB_EXTERNAL_PORT=3307
RUN_MIGRATIONS=false